*{  
    margin: 0;
    padding: 0;
}

    /* ----- BODY ----- */
body{
    color: rgb(253, 253, 253) ;
    width: 1920px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

    /* ----- HEADER : LOGO Y LOGIN BARRA DE NAVEGACION----- */
header{
    /* background-color: rgb(252, 198, 198); */
    height: 150px;
    margin: 50px 30px 0px 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
}
/* ------ BOTON DE INICIAR SESION -------*/
header a{
    font-size: 25px;
    text-decoration: none;
    color: teal;
    margin-bottom: 30px;
}

h1{
    background-color:rgba(81, 99, 128, 0.712);
    font-size: 30px;
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
}


    /* ----- MAIN -----*/
main{ 
    min-height: 550px;
}
#index{
    margin: auto;
    width: 90%;
} 

/* ------ SECTION PRODUCTOS ------ */
#productos{
    margin-left: 13%;
     display: flex;
     flex-wrap: wrap;
}


    /* ----- H2 PRODUCTOS ----- */
h2{
    /* margin-left: 180px; */
    color:rgba(81, 99, 128, 0.712);
    font-size: 25px;
}

    /* ----- ARTICLE PRODUCTOS ----- */
article{
    /* background-color: rgb(195, 231, 220);*/
    width: 630px;
    height: initial;
    margin: 0px 30px 30px 30px;
    display: flex; 
    flex-direction: row;
  
}
/* LOS DIV DENTRO DE LOS ARTICLES EN PRODUCTOS */
.Producto{
    width: 300px;
    height: initial;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    
    
}
.descripcion{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

    /* ------ IMAGENES ------*/
main img{
    height: 500px;
   
}

#quienesSomos{
    width: 950px;  
    /* height: 50px;  */
    margin: auto;
    display: flex;
    /* align-items: center;   */
}


   /* ----- PARRAFOS  ----- */
main p{ 
    /* background-color: rgba(158, 177, 125, 0.541); */
    font-size: 25px;
    color: black;
    border-radius: 6px;
    min-width: 120px;
    padding: 20px;
    margin: 15px;
    box-sizing: border-box;
    
}

/* ------- contacto ------- */
/* #formularioContacto{
    margin-left: 500px;
}  */
.container{
    margin-left: 30%;
}

    /* ------ FOOTER ------ */
footer{
    background-color: rgba(81, 99, 128, 0.712);
    height: 50px;
    padding: 15px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

footer a{ 
    color: rgb(255, 255, 255);
    text-decoration: none;
}